body{
	/*background-color: #141414;*/
}
/*Link Green: #31802e*/
/*Utilities*/
.center{
	text-align:center;
}
.spacer{
	height:40px;
	width:100%;
}
.padded{
	padding-top:10px;
}
.lessMargin{
	margin-bottom: -20px;
}
.bolded{
	font-weight: bold;
	font-size: 16pt;
}
.caption{
	font-size: 11pt;
}
/*Bootstrap edits*/
.thumbnail{
	border-radius: 0px;
}
/*Design*/
.front{
	line-height: 40px;
	text-indent: 3em;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 0px;
}
.masonFlag{
	width:191px;
	height:140px;
	position: absolute;
	z-index:4;
	left:70px;
	border: 1px #f4f4f4;
	border-radius: 0px 0px 42px 42px;
	background-color: white;
	box-shadow: 0px 0px 4px rgba(53,53,53,0.4);
		-webkit-box-shadow: 0px 0px 4px rgba(53,53,53,0.4);
		-moz-box-shadow: 0px 0px 4px rgba(53,53,53,0.4);
}
.masonLogo{
	padding-left:28px;
	padding-top:6px;
	height: 101px;
	width: 135px;
}
.navBar{
	width:100%;
	height:80px;
	position:relative;
	right:0;
	z-index: 2;
	border-bottom: 8px solid rgba(246,246,246,0.53);
	background-color: white;
	background-clip: padding-box; /*Allows for a transparent border*/
}
.navList{
	text-align:center;
	padding-top:27px;
}
.navList li{
	display:inline;
	padding-top: 27px;
	padding-bottom: 34px;
	padding-left: 18px;
	padding-right: 18px;
	font-size: 12pt;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	color: #444;
	transition:background-color .1s;
		-o-transition:background-color .1s;
		-ms-transition:background-color .1s;
		-moz-transition:background-color .1s;
		-webkit-transition:background-color .1s;
}
.navSelected, .navList li:hover {
	color: #373737;
	background-color: #f6f6f6;
	border-bottom: 8px solid rgba(36,36,36,0.43);
	background-clip: padding-box; /*Allows for a transparent border*/
}
.navSpacer{
	height: 100px;
	width:100%;
}
a:hover {
	text-decoration: none;
}
.box{
	position: relative;
	z-index: 1;
	padding-top: 50px;
	padding-bottom: 40px;
	background-color: white;
	border: 1px solid #cccccc;
	box-shadow: 0px 0px 6px rgba(99,99,99,0.4);
		-webkit-box-shadow: 0px 0px 6px rgba(99,99,99,0.4);
		-moz-box-shadow: 0px 0px 6px rgba(99,99,99,0.4);
}
.slideUp{
	position: relative;
	top: -120px; /* Lifts the box to hover over the cover image*/
	margin-bottom: -100px; /*Negative margin makes up for gap left behind*/
}
/*Buttons*/
.bookButton{
	height:42px;
	width:170px;
	position:absolute;
	top:20px;
	right:30px;
	border: solid #a72020 1px;
	background-color: #da2929;
	background-image: linear-gradient(rgba(187,62,62,0) 0%, rgba(108,11,11,0.50) 93.05%);
		background-image: -webkit-linear-gradient(rgba(187,62,62,0) 0%, rgba(108,11,11,0.50) 93.05%);
		background-image: -moz-linear-gradient(rgba(187,62,62,0) 0%, rgba(108,11,11,0.50) 93.05%);
	box-shadow: 0px 0px 6px #CCC;	
		-webkit-box-shadow: 0px 0px 6px #CCC;
		-moz-box-shadow: 0px 0px 6px #CCC;	
	transition:background-color .1s;
		-o-transition:background-color .1s;
		-ms-transition:background-color .1s;
		-moz-transition:background-color .1s;
		-webkit-transition:background-color .1s;
}
.bookButton:hover{
	background-color:#af2727;
}
.bookText{
	font-size: 16pt;
	color:white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	margin: 2px;
}
.greyButton{
	margin: 0 auto;
	border: solid #d4d4d4 1px;
	color: #333;
	background-color: #fafafa;
	background-image: linear-gradient(rgba(184,184,184,0) 0%, rgba(199,199,199,0.40) 93.05%);
		background-image: -webkit-linear-gradient(rgba(184,184,184,0) 0%, rgba(199,199,199,0.40) 93.05%);
		background-image: -webkit-linear-gradient(rgba(184,184,184,0) 0%, rgba(199,199,199,0.40) 93.05%);
	box-shadow: 0px 0px 6px #CCC;
		-webkit-box-shadow: 0px 0px 6px #CCC;
		-moz-box-shadow: 0px 0px 6px #CCC;
	transition:background-color .1s;
		-o-transition:background-color .1s;
		-ms-transition:background-color .1s;
		-moz-transition:background-color .1s;
		-webkit-transition:background-color .1s;
}
.greyButton:not(.disabled):hover{
	background-color: #b2b2b2;
	color: #FFF;
}
.getStarted{
	height:42px;
	width:150px;
	padding: 10px 60px 10px 60px;
}
.getStartedText{
	font-size: 16pt;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	margin: 2px;
}
.submitButton{
	height:36px;
	width:120px;
	padding: 10px 60px 15px 60px;
}
.disabled.submitButton, 
.disabled.submitButton:hover{
	cursor: default;
	opacity: 0.65;
	background-color: #e6e6e6 ;
	box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
}
/*Hero Unit elements*/
.coverPhoto{
	width:100%;
	position:relative;
	z-index:1;
	top:-8px;
	overflow: auto;
}
.coverContainer{
	width:100%;
	height:250px;
}
.coverBar{
	height:140px;
	width:100%;
	position:absolute;
	top:15%;
	z-index:2;
	text-align: right;
	background-image: linear-gradient(left, rgba(195,195,195,0.01) 0%, rgba(0,0,0,0.5) 32.45%, rgba(0,0,0,0.44) 76.16%, rgba(176,176,176,0.06) 100%);
		background-image: -webkit-linear-gradient(left, rgba(195,195,195,0.01) 0%, rgba(0,0,0,0.5) 32.45%, rgba(0,0,0,0.44) 76.16%, rgba(176,176,176,0.06) 100%);
		background-image: -moz-linear-gradient(left, rgba(195,195,195,0.01) 0%, rgba(0,0,0,0.5) 32.45%, rgba(0,0,0,0.44) 76.16%, rgba(176,176,176,0.06) 100%);
	
}
.coverBorder{
	height:80px;
	width:100%;
	position: relative;
	z-index:2;
	background-color: blue;
}
.coverLead{
	font-family: "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFF;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    padding-top: 2.5%;
    padding-right: 24%;
	text-align: center;
}
.coverLogo{
	float: left;
	padding-top: 2%;
	padding-left: 25%;
}
.bottomedImg{
	float:right;
}

.eventImg {
	box-shadow: 0px 0px 8px rgba(100, 100, 100, 0.6);
		-webkit-box-shadow: 0px 0px 8px rgba(100, 100, 100, 0.6);
		-moz-box-shadow: 0px 0px 8px rgba(100, 100, 100, 0.6);
	margin-top: 8px;
	margin-bottom: 25px;
}

.dropdownInput {
    width: 13px;
    height: 13px;
    padding-left: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -3px;
}
.dropdownPad{
	padding-left: 10px;
}
.buttonPad{
	padding-left: 30px;
	padding-right: 30px;
}
.dropdown-menu{

}
.dropSelect:focus{
	outline: none;
	box-sizing: border-box;
	margin: -1px;
	border-top: solid #245f22 1px; 
	border-bottom: solid #245f22 1px; 
	z-index: 7;
}

.footer{
	position: relative;
	bottom: 15px;;
	clear: left;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 8px;
	margin-top: 25px;
	text-align: center;
}

.employmentList li{
	line-height:24pt;
}

/*Photo Gallery*/

.overlay{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 5;
	background-color: rgba(0,0,0,0.9);
	text-align: center;
	display: none;
}
.overlayImg{
	max-width: 100%;
	max-height: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.75);
}
.overlayContainer{
	width: 65%;
	height: 100%;
	margin: 0 auto;
}

.alignCell{
	/*Required for vertical centering*/
	display:table;
}
.alignWrapper{
	/*Allows the photos to be centered vertically no matter what height they are*/
	display: table-cell;
	vertical-align: middle;
}

.rightArrow, .leftArrow{
	position:absolute;
	cursor: pointer;
}

.overlayContainer .leftArrow{
	top: 42%;
	left:12%;
}

.overlayContainer .rightArrow{
	top:42%;
	right:12%;
}

.mainContainer .leftArrow{
	top: 38%;
	left:8%;
}

.mainContainer .rightArrow{
	top:38%;
	right:8%;
}

.mainContainer{
	height: 580px;

}
.mainDisplay{
	max-height: 95%; 
	max-width: 90%;
	display: block;
	margin: 0 auto;
	cursor: pointer;
		cursor:-moz-zoom-in;
		cursor:-webkit-zoom-in;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.galleryBar{	
	width: 83%;
	text-align: center;
	margin: 0 auto;
}

.selectDisplay{
	margin: 20px 10px 0 10px;
	float: left;
	opacity: 0.6;
}


input[name='slideSwitch']:checked+label {
	opacity: 1;
}
	
.selectDisplay img {
	height:100px;
	width: 140px;
	border: solid #CCC 1px;
	box-sizing: border-box;
	display: inline;
}
input[name='slideSwitch']{
	display: none;
}
/*FAQ Page*/
.FAQList{
	 margin-top:25px;
}
/*Booking Process*/
#quickLinks{
	background-color: #d5f6d4;
	border: solid #266824 1px;
	border-radius: 2px;
	padding: 10px;
	margin-left: 10px;
	margin-bottom: 6px;
	box-shadow: 0px 0px 4px rgba(48,99,49,0.4);
		-webkit-box-shadow: 0px 0px 4px rgba(48,99,49,0.4);
		-moz-box-shadow: 0px 0px 4px rgba(48,99,49,0.4);
}
#quickLinks > ul > li{
	padding-bottom: 5px;
}
/*Booking form*/
.formTitle{
	text-align: right;
	padding-top: 5px; 
}
.error{
	color: red;
}
input.error{
	color:gray;
}
@media screen and (min-width:1360px) {
	  .coverLead {
	  		font-size:5em;
		  			}
}
@media screen and (max-width:1359px) {
	  .coverLead {
	  		font-size:4em;
					}
}
@media screen and (max-width:979px) {
	  .coverLead {
	  		font-size:3em;
	  			}
	  .box {
			top:50px;
				}
}
@media screen and (max-width:767px) {
	  .coverLead {
	  		font-size:2em;
	  			}
	  .box {
			top:100px;
				}
}
