/*Colors:
#141414 Dark Gray
#31802e Dark Green
rgba(227,189,0,1) Gold

*/

/*body background*/
body{
	background-color: ;
}
/*Navbar Background*/
.navBar{
	background-color: #222222;
	border-color: rgba(48,48,48,1);
}
.navList li{
	color: white;
}
.navSelected, .navList li:hover {
	color: ;
}
/*Navbar Background*/
.navBar{
	border-color: rgba(52,52,52,.7);
}
.navList li{
}
.navSelected, .navList li:hover {
	color:  white;
	background-color: #141414;
	border-color: rgba(227,189,0,1);
}
/*Text*/
p,h1,h2,h3,h4,h5,h6 {
	color: ;
}
a{
	color:;
}
/*footer text*/
.footer p{
	color: ;
}
.footer a{
	color: ;
}
/*footer  background*/
.footer {
}
